* {
  box-sizing: border-box;
}

html,
body {
  color: black;
}

#card-search-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.validation-message {
  color: black;

  &.error {
    color:tomato;
  }
}

#card-search-roll-up {
  .card-list {
    text-transform: capitalize;
  }
}