* {
  box-sizing: border-box;
}

:root {
  --text-bg-color: rgb(225 234 240 / 80%);
}

@mixin text-background {
  background: var(--text-bg-color);
}

@mixin blue-background {
  background:
    radial-gradient(at bottom right,
      dodgerblue 0,
      dodgerblue 1em,
      lightskyblue 1em,
      lightskyblue 2em,
      deepskyblue 2em,
      deepskyblue 3em,
      gainsboro 3em,
      gainsboro 4em,
      lightsteelblue 4em,
      lightsteelblue 5em,
      deepskyblue 5em,
      deepskyblue 6em,
      lightskyblue 6em,
      lightskyblue 7em,
      transparent 7em,
      transparent 8em),
    radial-gradient(at top left,
      transparent 0,
      transparent 1em,
      lightskyblue 1em,
      lightskyblue 2em,
      deepskyblue 2em,
      deepskyblue 3em,
      lightsteelblue 3em,
      lightsteelblue 4em,
      gainsboro 4em,
      gainsboro 5em,
      deepskyblue 5em,
      deepskyblue 6em,
      skyblue 6em,
      skyblue 7em,
      dodgerblue 7em,
      dodgerblue 8em,
      transparent 8em,
      transparent 20em),
    radial-gradient(circle at center bottom,
      #ccdfe4, #4d97c2);
  background-blend-mode: overlay;
  background-size:
    8em 8em, 8em 8em, cover;
}

@mixin button {
  font-family: inherit;
  font-size: 1rem;
  padding: 0.5rem;
}

@font-face {
  font-family: 'Libre Franklin';
  font-style: normal;
  font-weight: normal;
  src:
    url('./assets/fonts/Libre_Franklin/LibreFranklin-VariableFont_wght.ttf');
}

html {
  font-family: 'Libre Franklin', sans-serif;
  color: black;

  @include blue-background;
}

html,
body {
  min-height: 100%;
}

main {
  margin-top: 1rem;

  .form-wrapper {
    display: flex;
    flex-direction: row;
  }

  form {
    flex-grow: 1;
    max-width: 40rem;
    margin: auto;
  }

  input[type="submit"] {
    @include button;
    margin: 0.75rem 0 0.75rem auto;
  }

  #card-input-label {
    width: 100%;

    @include text-background;

    border-top-right-radius: 0.4rem;
    border-top-left-radius: 0.4rem;

    >div {
      padding-top: 0.5rem;
      padding-left: 0.5rem;
      font-size: 0.8rem;
    }

    textarea {
      transition: height 0.15s ease-out;
      width: 100%;
      height: 20rem;
      border-radius: 0.4rem;
      resize: vertical;
      padding: .25rem .5rem;
      margin-top: 0.5rem;
      border: 1px solid #4784a3;

      &.collapsed {
        height: 5rem;
      }
    }
  }
}

aside {
  position: fixed;
  min-width: 20rem;
  right: 1rem;
  @include text-background;
  border-radius: 0.4rem;
  padding: 0.5rem;
  overflow-y: auto;
  max-height: 80vh;

  &.hidden {
    display: none;
  }
}

h1 {
  margin-bottom: 1rem;
}

#card-search-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.validation-message {
  color: black;

  @include text-background;

  border-radius: 0.4rem;
  width: 100%;

  &.error {
    margin-top: 1rem;
    padding: 1rem;
    color: tomato;
  }
}

#card-search-roll-up {
  @include text-background;

  &.hidden {
    display: none;
  }

  border-radius: 0.4rem;
  width: 100%;

  .set-list {
    padding: 1rem;
  }

  details {
    transition: margin 150ms ease-out;

    >summary {
      cursor: pointer;
      font-size: 2rem;
    }

    &[open] {
      margin-bottom: 1rem;
    }
  }

  .card-list {
    text-transform: capitalize;
  }
}

#filters {
  #pulled-cards-section {
    transition: height 150ms ease-out, padding 150ms ease-out;

    h3 {
      margin-top: 0;
    }

    #pulled-cards {
      text-transform: capitalize;
    }

    &.hidden {
      height: 0;
      overflow: hidden;
      padding: 0;
    }
  }

  #no-filters-applied {
    transition: height 150ms ease-out;
    font-style: italic;
    margin-left: 1rem;

    &.hidden {
      height: 0;
      overflow: hidden;
    }
  }
}

@keyframes placeholderShimmer {
  0% {
    background-position: -468px 0;
  }

  100% {
    background-position: 468px 0;
  }
}

.skeleton {
  border-radius: 0.4rem;

  background: var(--text-bg-color);
  background-image: linear-gradient(to right, var(--text-bg-color) 0%, rgba(213 214 216 / 80%) 20%, var(--text-bg-color) 40%, var(--text-bg-color) 100%);
  background-repeat: no-repeat;
  background-size: 800px 804px;
  position: relative;

  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeholderShimmer;
  animation-timing-function: linear;

  &.hidden {
    display: none;
  }
}

.search-skeleton {
  width: 100%;
  height: 400px;
}

@media screen and (min-width: 40rem) and (max-width: 80rem) {
  main {
    form {
      max-width: 30rem;
      margin-left: 1rem;
      margin-right: 22rem;
    }

    aside {
      margin-right: 1rem;
    }
  }
}

@media screen and (min-width: 85rem) {
  main {
    aside {
      margin-right: 1rem;
    }
  }

  .list-card {
    padding: 0.5rem 0;
    display: block;
  }
}