* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  overflow: hidden;
  overscroll-behavior-y: contain;
  position: relative;
  -webkit-touch-callout: none; /* Safari */
  -webkit-user-select: none; /* Chrome */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
  touch-action: manipulation;
  color: black;
}

#card-search-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.validation-message {
  color: black;

  &.error {
    color:tomato;
  }
}